body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
}

header {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/services/background.png);
    background-size: cover;
    color: white;

    h1 {
        font-size: 55px;
    }

    .top_header {
        width: 70%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        nav {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            img {
                width: 15%;
            }

            ul {
                width: 80%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                li {
                    a {
                        color: white;
                    }
                }
            }
        }

    }

    .main_header {
        text-align: center;
        width: 60%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .home {
            justify-self: center;
            align-self: center;
            width: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        p {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
        ul {
            width: 70%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .li_main {
    
                font-size: 20px;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
    
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
            }
        }
}
.figures {
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 60%;
    height: 25vh;
    text-align: center;

    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
            p {
                font-size: 14px;
            }

            h5 {
                font-size: 32px;
            }

            div {
                width: 148px;
                height: 148px;
                border-radius: 90px;
            }

            div#first {
                border: rgba(248, 152, 40, 1) 3px solid;

            }

            div#second {
                border: rgba(245, 47, 110, 1) 3px solid;
            }

            div#third {
                border: rgba(90, 135, 252, 1) 3px solid;
            }

            div#fourth {
                border: rgba(3, 206, 164, 1) 3px solid;
            }
        }
    }
}
.video{
    width: 80%;
    height: 60vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/assets/about/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        button#play {
                width: 80px;
                height: 80px;
                border-radius: 40px;
                display: flex;
                justify-self: center;
                align-self: center;
                justify-content: center;
                align-items: center;
                img {
                    width: 26px;
                    height: 26px;
                }
            }
        
            button#volume_off {
                margin: 20px;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                display: flex;
                justify-self: flex-end;
                align-self: flex-start;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: rgba(255, 255, 255, 0.5);
                img {
                    width: 20px;
                    height: 20px;
                }
            }
    
}
.CTA_form {
    width: 80%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #7772F1;
    background-image: url(/assets/service/background\ \(1\).png);

    h3 {
        font-size: 40px;
        margin: 0;
    }

    .forms {
        width: 95%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        div {
            width: 20%;
            height: 100%;

            form {
                width: 100%;
                height: 30%;

                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    border: white;
                }
            }
        }

        button {
            background-color: black;
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
        }

    }
}
.clients {
    width: 90%;
    height: 30vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3{
        font-size: 46px;
        margin: 0;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
            width: 15%;
            img {
                width: 80%;
            }
        }
    }
}
.team{
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 80%;
    height: 70vh;
    text-align: center;
    h3{
        font-size: 46px;
        margin: 0;
    }
    ul{
        height: 95%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li{
            height: 45%;
            width: 22%;
            img{
                height: 80%;
            }
            h6{
                font-size: 20px;
                margin: 0;
            }
            p{
                color: #787A80;
            }
        }
    }
}
.FAQ {
    height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 40%;
    }

    div {
        width: 80%;

        h3 {
            font-size: 46px;
            margin: 0;
        }

        ul {
            width: 100%;
            list-style: none;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                line-height: 160%;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 1vw;
                }

                h6 {
                    font-size: 20px;
                    margin: 0;
                }

                p {
                    color: rgba(120, 122, 128, 1);
                }
            }
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
            }
        }
    }
}
.careers{
    width: 100%;
    height: 50vh;
    background-color: #F4F5F6;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
            height: 60%;
        }
        div {
            text-align: left;
            height: 60%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            h3{
                font-size: 46px;
                margin: 0;
            }
        }
    }
    
}
.blog {
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .blog_text {
        width: 20%;
    }

    .post {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            width: 100%;
        }

        .meta {
            width: 85%;
            height: 10%;
            display: flex;
            flex-direction: row;

            p {
                font-size: 12px;
            }

            justify-content: space-between;
        }

        .more {
            width: 40%;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            p {
                color: black;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        h6 {
            font-size: 20px;
            margin: 0;
        }

        p {
            font-size: 16px;
            color: rgba(120, 122, 128, 1);
        }
    }
}
footer {
    background-color: rgba(30, 33, 44, 1);
    width: 100%;
    height: 45vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .footer_top {
        margin-top: 3%;
        width: 80%;
        height: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 0;

                a {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 12px;
                }
            }
        }

        div {
            h6 {
                text-transform: uppercase;
                line-height: 150%;
                color: rgba(255, 255, 255, 1);
            }

            p {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.6);
            }

            .social {
                width: 50%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .contacts {
                display: flex;
                flex-direction: column;
                border: 0;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        .div_about {
            width: 25%;

            form {
                input {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

    }

    .create_line {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .footer_center {
        width: 80%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul {
            padding: 0;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
        }

        div {
            width: 12%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
                width: 24px;
                height: 24px;
                background-color: #7772F1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
            }
        }
    }

    .footer_bottom {
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;

        div {
            p {
                font-size: 12px;
            }

            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 18px;
                height: 18px;
            }

        }
    }
}

a {
    color: black;
    text-decoration: none;
}

.button_purple {
    width: 161px;
    height: 44px;
    background-color: #7772F1;
    color: white;
    border: none;
}

.button_with_border {
    width: 161px;
    height: 44px;
    background-color: rgba(2055, 214, 219, 0);
    color: white;
    border: 1px solid #7772F1;
    color: #7772F1;
}

@font-face {
    font-family: Lato;
    src: url(/Lato/Lato-Black.ttf);
}