body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

header {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/services/background.png);
  background-size: cover;
  color: white;
}
header h1 {
  font-size: 55px;
}
header .top_header {
  width: 70%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav img {
  width: 15%;
}
header .top_header nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav ul li a {
  color: white;
}
header .main_header {
  text-align: center;
  width: 60%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .main_header .home {
  justify-self: center;
  align-self: center;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .main_header .home p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
header ul {
  width: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header ul .li_main {
  font-size: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header ul .li_main img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.figures {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 60%;
  height: 25vh;
  text-align: center;
}
.figures ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.figures ul li p {
  font-size: 14px;
}
.figures ul li h5 {
  font-size: 32px;
}
.figures ul li div {
  width: 148px;
  height: 148px;
  border-radius: 90px;
}
.figures ul li div#first {
  border: rgb(248, 152, 40) 3px solid;
}
.figures ul li div#second {
  border: rgb(245, 47, 110) 3px solid;
}
.figures ul li div#third {
  border: rgb(90, 135, 252) 3px solid;
}
.figures ul li div#fourth {
  border: rgb(3, 206, 164) 3px solid;
}

.video {
  width: 80%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/about/video.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.video button#play {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.video button#play img {
  width: 26px;
  height: 26px;
}
.video button#volume_off {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.video button#volume_off img {
  width: 20px;
  height: 20px;
}

.FAQ {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.FAQ img {
  width: 40%;
}
.FAQ div {
  width: 80%;
}
.FAQ div h3 {
  font-size: 46px;
  margin: 0;
}
.FAQ div ul {
  width: 100%;
  list-style: none;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.FAQ div ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 160%;
}
.FAQ div ul li img {
  width: 20px;
  height: 20px;
  margin-right: 1vw;
}
.FAQ div ul li h6 {
  font-size: 20px;
  margin: 0;
}
.FAQ div ul li p {
  color: rgb(120, 122, 128);
}
.FAQ div button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.FAQ div button img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.blog {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog .blog_text {
  width: 20%;
}
.blog .post {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog .post img {
  width: 100%;
}
.blog .post .meta {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog .post .meta p {
  font-size: 12px;
}
.blog .post .more {
  width: 40%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blog .post .more p {
  color: black;
}
.blog .post .more img {
  width: 20px;
  height: 20px;
}
.blog .post h6 {
  font-size: 20px;
  margin: 0;
}
.blog .post p {
  font-size: 16px;
  color: rgb(120, 122, 128);
}

footer {
  background-color: rgb(30, 33, 44);
  width: 100%;
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .footer_top {
  margin-top: 3%;
  width: 80%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top ul {
  list-style: none;
  padding: 0;
}
footer .footer_top ul li {
  padding: 0;
}
footer .footer_top ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
footer .footer_top div h6 {
  text-transform: uppercase;
  line-height: 150%;
  color: rgb(255, 255, 255);
}
footer .footer_top div p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
footer .footer_top div .social {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top div .contacts {
  display: flex;
  flex-direction: column;
  border: 0;
}
footer .footer_top div .contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_top div .contacts li img {
  width: 16px;
  height: 16px;
}
footer .footer_top .div_about {
  width: 25%;
}
footer .footer_top .div_about form input {
  background-color: rgba(255, 255, 255, 0.2);
}
footer .create_line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .footer_center {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center ul {
  padding: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
footer .footer_center div {
  width: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center div button {
  width: 24px;
  height: 24px;
  background-color: #7772F1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
footer .footer_bottom {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
footer .footer_bottom div {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_bottom div p {
  font-size: 12px;
}
footer .footer_bottom div img {
  width: 18px;
  height: 18px;
}

a {
  color: black;
  text-decoration: none;
}

.button_purple {
  width: 161px;
  height: 44px;
  background-color: #7772F1;
  color: white;
  border: none;
}

.button_with_border {
  width: 161px;
  height: 44px;
  background-color: rgba(255, 214, 219, 0);
  color: white;
  border: 1px solid #7772F1;
  color: #7772F1;
}

@font-face {
  font-family: Lato;
  src: url(/Lato/Lato-Black.ttf);
}/*# sourceMappingURL=aboutus.css.map */