body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

header {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/services/background.png);
  background-size: cover;
  color: white;
}
header .top_header {
  width: 70%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav img {
  width: 15%;
}
header .top_header nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav ul li a {
  color: white;
}
header .main_header {
  text-align: center;
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .main_header .home {
  justify-self: center;
  align-self: center;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .main_header .home p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header .main_bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .main_header .main_bottom p {
  color: white;
  font-size: 16px;
}
header .main_header .main_bottom form {
  width: 100%;
}
header .main_header .main_bottom form input#input_text {
  height: 42px;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.2);
}
header .main_header .phone {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
header .main_header .phone p {
  font-size: 14px;
  margin: 0;
}

.latest_posts {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest_posts .post {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest_posts .post img {
  width: 100%;
}
.latest_posts .post .meta {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest_posts .post .meta p {
  font-size: 12px;
}
.latest_posts .post .more {
  width: 25%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.latest_posts .post .more p {
  color: black;
}
.latest_posts .post .more img {
  width: 20px;
  height: 20px;
}
.latest_posts .post h6 {
  font-size: 20px;
  margin: 0;
}
.latest_posts .post p {
  font-size: 16px;
  color: rgb(120, 122, 128);
}

.articles {
  width: 80%;
  height: 200vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.articles .article_left {
  width: 65%;
  height: 100%;
}
.articles .article_left .pages {
  width: 30%;
  height: 7%;
}
.articles .article_left .pages li {
  width: 15%;
}
.articles .article_left ul {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
.articles .article_left ul li {
  width: 45%;
  height: 30%;
}
.articles .article_left ul li .post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles .article_left ul li .post img {
  width: 100%;
}
.articles .article_left ul li .post .meta {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.articles .article_left ul li .post .meta p {
  font-size: 12px;
}
.articles .article_left ul li .post .more {
  width: 35%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.articles .article_left ul li .post .more p {
  color: black;
}
.articles .article_left ul li .post .more img {
  width: 20px;
  height: 20px;
}
.articles .article_left ul li .post h6 {
  font-size: 20px;
  margin: 0;
}
.articles .article_left ul li .post p {
  font-size: 16px;
  color: rgb(120, 122, 128);
}
.articles .article_right {
  width: 25%;
  height: 80%;
}
.articles .article_right h5 {
  font-size: 24px;
  margin: 0;
}
.articles .article_right .categories {
  width: 100%;
  height: 25%;
}
.articles .article_right .categories ul {
  padding: 0;
  list-style: none;
  height: 95%;
}
.articles .article_right .categories ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.articles .article_right .categories ul li button {
  width: 100%;
}
.articles .article_right .now_trending {
  width: 100%;
  height: 35%;
}
.articles .article_right .now_trending ul {
  padding: 0;
  height: 95%;
  width: 100%;
}
.articles .article_right .now_trending ul li {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.articles .article_right .now_trending ul li p {
  color: #787A80;
  font-size: 14px;
}
.articles .article_right .now_trending ul li h6 {
  font-size: 16px;
  margin: 0;
}
.articles .article_right .tags {
  height: 10%;
  width: 100%;
}
.articles .article_right .tags ul {
  padding: 0;
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.articles .article_right .tags ul li {
  width: 100px;
  height: 32px;
}
.articles .article_right .tags ul li button {
  width: 100%;
  height: 100%;
}

.subscribe {
  width: 100%;
  height: 50vh;
  background-color: #F4F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe .sub {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subscribe .sub img {
  width: 40%;
}
.subscribe .sub div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscribe .sub div h3 {
  font-size: 46px;
  margin: 0;
}
.subscribe .sub div .email {
  width: 100%;
  height: 15%;
}
.subscribe .sub div .email input {
  width: 60%;
  height: 100%;
}

footer {
  background-color: rgb(30, 33, 44);
  width: 100%;
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .footer_top {
  margin-top: 3%;
  width: 80%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top ul {
  list-style: none;
  padding: 0;
}
footer .footer_top ul li {
  padding: 0;
}
footer .footer_top ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
footer .footer_top div h6 {
  text-transform: uppercase;
  line-height: 150%;
  color: rgb(255, 255, 255);
}
footer .footer_top div p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
footer .footer_top div .social {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top div .contacts {
  display: flex;
  flex-direction: column;
  border: 0;
}
footer .footer_top div .contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_top div .contacts li img {
  width: 16px;
  height: 16px;
}
footer .footer_top .div_about {
  width: 25%;
}
footer .footer_top .div_about form input {
  background-color: rgba(255, 255, 255, 0.2);
}
footer .create_line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .footer_center {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center ul {
  padding: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
footer .footer_center div {
  width: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center div button {
  width: 24px;
  height: 24px;
  background-color: #7772F1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
footer .footer_bottom {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
footer .footer_bottom div {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_bottom div p {
  font-size: 12px;
}
footer .footer_bottom div img {
  width: 18px;
  height: 18px;
}

a {
  color: black;
  text-decoration: none;
}

.button_purple {
  width: 161px;
  height: 44px;
  background-color: #7772F1;
  color: white;
  border: none;
}

.button_with_border {
  width: 161px;
  height: 44px;
  background-color: rgba(255, 214, 219, 0);
  color: white;
  border: 1px solid #7772F1;
  color: #7772F1;
}

@font-face {
  font-family: Lato;
  src: url(/Lato/Lato-Black.ttf);
}/*# sourceMappingURL=blog.css.map */