body{
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
}

header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/homepage/background.png);
    background-size: cover;
    color: white;
    .top_header{
        width: 70%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        nav{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                width: 15%;
            }
            ul{
                width: 80%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                li{
                    a{
                        color: white;
                    }
                }
            }
        }
        
    }
    .main_header{
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
           width: 40%;
        }
        .main_header_text{
            h1{
                font-size: 72px;
                height: 55%;
            }
            .main_header_bottom{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 40%;
                height: 40%;
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 40%;
                    img{
                        width: 40%;
                    }
                }   
            }
        }
    }
    ul{
        width: 70%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .li_main{

            font-size: 20px;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }
    }
}
.info{
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        width: 40%;
        height: 100%;
        font-size: 28px;
    }
    ul{
        width: 40%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            height: 35%;
            img{
                width: 75px;
                height: 75px;
                display: flex;
                align-self: center;
                justify-self: center;
            }
            p{
                width: 70%;
                font-size: 14px;
            }
        }
    }
}
.clients{
    width: 90%;
    height: 15vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
            width: 10%;
            img{
               width: 80%; 
            }
        }
    }
}
.about{
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        height: 100%;
    }
    div{
        width: 30%;
        h2{
            font-size: 46px;
        }
    }
}
.figures{
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 60%;
    height: 25vh;
    text-align: center;
    ul{
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
            p{
                font-size: 14px;
            }
            h5 {
                font-size: 32px;
            }
            div{
                width: 148px;
                height: 148px;
                border-radius: 90px;
            }
            div#first{
                border: rgba(248, 152, 40, 1) 3px solid;

            }
            div#second{
                border: rgba(245, 47, 110, 1) 3px solid;
            }
            div#third{
                border: rgba(90, 135, 252, 1) 3px solid;
            }
            div#fourth{
                border: rgba(3, 206, 164, 1) 3px solid;
            }
        }
    }
}
.services{
    height: 85vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 46px;
        margin: 0;
    }
    .button_services{
        width: 100%;
        height: 20%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        li{
            width: 25%;
            height: 80%;
            .button_0{
                width: 161px;
                height: 44px;
                background-color: rgba(2055, 214, 219, 0);
                border: none;
                color: #9A9CA5;
            }
        }
    }
    .main_services{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .services_text{
            h4{
                font-size: 28px;
                margin: 0;
            }
            ul{
                list-style: none;
                line-height: 160%;
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
            div{
                width: 85%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .pic_services {
            width: 55%;
            height: 100%;
            background-image: url(/assets/homepage/bg-shape.png);
            background-repeat: repeat;
            img#likes {
                position: relative;
                top: 45%;
                left: 5%;
                z-index: 1;
            }
            img#followers {
                position: relative;
                top: 2%;
                left: 70%;
                z-index: 1;
            }
            img#youtube {
                position: relative;
                top: 65%;
                left: 50%;
                z-index: 1;
            }
            img#like {
                position: relative;
                top: -13%;
                left: 50%;
                z-index: 1;
            }
            img#dashboard{
                position: relative;
                top: -5%;
                width: 582px;
            }
        }
    }
    
}
.CTA{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/homepage/background_TCA.png);
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: white;
    .main_CTA{
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .request_CTA{
            width: 50%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .forms{
                width: 100%;
                height: 10%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                form{
                    width: 45%;
                    height: 100%;
                    input{
                        background-color: rgba(255, 255, 255, 0.2);
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .last_form{
                width: 100%;
                height: 10%;
                input{
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
            h3{
                font-size: 46px;
                margin: 0;
            }
            .bottom_request{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                form{
                    width: 50%;
                }
            }
        }
    }
    
}
.FAQ{
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        width: 40%;
    }
    div{
        width: 80%;
        h3{
            font-size: 46px;
            margin: 0;
        }
        ul{
            width: 100%;
            list-style: none;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                line-height: 160%;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 1vw;
                }
                h6{
                    font-size: 20px;
                    margin: 0;
                }
                p{
                    color: rgba(120, 122, 128, 1);
                }
            }
        }
        button{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img{
                width: 16px;
                height: 16px;
                margin-left: 10px;
            }
        }
    }
}
.casestudies{
    margin-bottom: 15vh;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(244, 245, 246, 1);
    align-items: center;
    .testimonials_top{
        width: 70%;
        h2{
            font-size: 46px;
        }
        .button1{
            background-color: rgba(120, 122, 128, 0);
            border: none;
            img{
                width: 24px;
                height: 24px;
            }
        }
        .button2{
            width: 49px;
            height: 49px;
            background-color: #7772F1;
            border-radius: 40px;
            border: #7772F1;
        }
    }
    .testimonials_center{
        width: 70%;
        height: 55%;
        .testimonials_1{
            height: 90%;
            width: 27%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 20px;
            box-shadow: 5px 5px 5px 5px #b8b9c0;
        }
        .testimonials_2{
            height: 90%;
            width: 27%;
            background:
                    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(/assets/homepage/test_card.png);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
            color: white;
            box-shadow: 5px 5px 5px 5px #b8b9c0;
        }
        .testimonials_3{
            height: 90%;
            width: 27%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
            box-shadow: 5px 5px 5px 5px #b8b9c0;
        }
                .feature {
                    height: 15%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
        
                    div {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
        
                    h6 {
                        font-size: 20px;
                        margin: 0;
                    }
        
                    p {
                        font-size: 12px;
                    }
                }
        
                h6 {
                    font-size: 14px;
                }
        
                p {
                    font-size: 16px;
                }
    }
    .testimonials_bottom{
        width: 30%;
        
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.benefits{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 46px;
    }
    div{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        img{
            height: 60%;
            display: flex;
            align-self: center;
            justify-self: center;
            margin-top: 10px
        }
        ul{
            list-style: none;
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                width: 100%;
                height: 32%;
                div{
                    width: 100%;
                    height: 80%;
                    border: #dbdbdb 1px solid;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    h6{
                        font-size: 16px;
                        margin: 0;
                    }
                    p{
                        font-size: 14px;
                    }

                }

            }
        }
    }
}
.pricing{
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 46px;
        margin: 0;
    }
    .pricing_button{
        height: 10%;
        button{
            border-radius: 40px;
        }
    }
    .cards_pricing{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 16px;
            div{
                height: 20%;
            }
            ul{
                height: 55%;
                list-style: none;
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    height: 10%;
                    img{
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .card_purple{
            border: #9A9CA5 1px solid;
            h5{
                font-size: 24px;
                margin: 0;
            }
            h4{
                color: #7772F1;
            }
            .price{
                display: flex;
                flex-direction: row;
                width: 100%;
                h3{
                    color: #7772F1;
                    font-size: 46px;
                }
            }
        }
        .card_black{
            background-color: rgba(30, 33, 44, 1);
            color: white;
            h4{
                color: rgba(3, 206, 164, 1);
            }
        }
    }
}
.testimonials{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 46px;
    }
    .bottom_testimonials{
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: url(/assets/homepage/background_gray.png);
        background-size: cover;
        background-size: cover;
        .comment{
            width: 80%;
            height: 60%;
            background-color: white;
            .profile{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 35%;
                img{
                    width: 72px;
                    height: 72px;
                }
                h6{
                    color: black;
                    font-size: 16px;
                    margin: 0;
                }
                p{
                    font-size: 14px;
                }
            }
            p{
                color: rgba(66, 69, 81, 1);
                font-size: 20px;
            }
        }
        button{
            width: 40px;
            height: 40px;
            background-color: #7772F1;
            border-radius: 20px;
            border: #7772F1;
        }
    }
}
.blog{
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .blog_text{
        width: 20%;
    }
    .post{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            width: 100%;
        }
        .meta{
            width: 85%;
            height: 10%;
            display: flex;
            flex-direction: row;
            p{
                font-size: 12px;
            }
            justify-content: space-between;
        }
        .more{
            width: 40%;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            p{
                color: black;
            }
            img{
                width: 20px;
                height: 20px;
            }
        }
        h6{
            font-size: 20px;
            margin: 0;
        }
        p{
            font-size: 16px;
            color: rgba(120, 122, 128, 1);
        }
    }
}
footer{
    background-color: rgba(30, 33, 44, 1);
    width: 100%;
    height: 45vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .footer_top{
        margin-top: 3%;
        width: 80%;
        height: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 0;
                a{
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 12px;
                }
            }
        }
        div{
            h6{
                text-transform:uppercase;
                line-height: 150%;
                color: rgba(255, 255, 255, 1);
            }
            p {
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.6);
                }
            .social{
                width: 50%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .contacts {
                display: flex;
                flex-direction: column;
                border: 0;
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        .div_about{
            width: 25%;
            form{
                input{
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
        
    }
    .create_line{
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .footer_center{
        width: 80%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ul{
            padding: 0;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
        }
        div{
            width: 12%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            button{
                width: 24px;
                height: 24px;
                background-color: #7772F1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
            }
        }
    }
    .footer_bottom{
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        div{
            p{
                font-size: 12px;
            }
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 18px;
                height: 18px;
            }
            
        }
    }
}
a{
    color: black;
    text-decoration: none;
}
.button_purple{
    width: 161px;
    height: 44px;
    background-color: #7772F1;
    color: white;
    border: none;
}
.button_with_border{
    width: 161px;
    height: 44px;
    background-color: rgba(2055, 214, 219, 0);
    color: white;
    border: 1px solid #7772F1;
    color: #7772F1;
}

@font-face {
    font-family: Lato;
    src: url(/Lato/Lato-Black.ttf);
}