body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

header {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/services/background.png);
  background-size: cover;
  color: white;
}
header .top_header {
  width: 70%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav img {
  width: 15%;
}
header .top_header nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav ul li a {
  color: white;
}
header .main_header {
  text-align: center;
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .main_header .home {
  justify-self: center;
  align-self: center;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .main_header .home p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header .main_bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .main_header .main_bottom p {
  color: white;
  font-size: 16px;
}
header .main_header .main_bottom form {
  width: 100%;
}
header .main_header .main_bottom form input#input_text {
  height: 42px;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.2);
}
header .main_header .phone {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
header .main_header .phone p {
  font-size: 14px;
  margin: 0;
}

.clients {
  width: 90%;
  height: 15vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.clients ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.clients ul li {
  width: 10%;
}
.clients ul li img {
  width: 80%;
}

.about {
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about img {
  width: 60%;
}
.about div {
  height: 80%;
  width: 35%;
}
.about div h3 {
  font-size: 42px;
  margin: 0;
}
.about div p {
  color: rgb(120, 122, 128);
  font-size: 14px;
}

.features {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features h3 {
  font-size: 40px;
  margin: 0;
}
.features ul {
  list-style: none;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.features ul li {
  width: 28%;
  height: 35%;
  padding: 20px;
  border: 1px solid #b8b9c0;
}
.features ul li h6 {
  font-size: 20px;
  color: rgb(30, 33, 44);
  margin: 0;
}
.features ul li p {
  color: rgb(120, 122, 128);
}

.CTA_form {
  margin-bottom: 15vh;
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #7772F1;
  background-image: url(/assets/service/background\ \(1\).png);
}
.CTA_form h3 {
  font-size: 40px;
  margin: 0;
}
.CTA_form .forms {
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.CTA_form .forms div {
  width: 20%;
  height: 100%;
}
.CTA_form .forms div form {
  width: 100%;
  height: 30%;
}
.CTA_form .forms div form input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: white;
}
.CTA_form .forms button {
  background-color: black;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.steps {
  margin-bottom: 15vh;
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.steps h3 {
  font-size: 40px;
  margin: 0;
}
.steps .dio {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
.steps .dio .vertical_line {
  width: 2px;
  height: 100%;
  margin: 3%;
  background-color: rgb(154, 156, 165);
}
.steps .dio .steps_left {
  text-align: right;
}
.steps .dio h6 {
  font-size: 12px;
  color: #9A9CA5;
}
.steps .dio p {
  color: #9A9CA5;
}
.steps .dio h4 {
  font-size: 20px;
  color: rgb(30, 33, 44);
}

.pricing {
  margin-bottom: 15vh;
  width: 80%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing h2 {
  font-size: 46px;
  margin: 0;
}
.pricing .pricing_button {
  height: 10%;
}
.pricing .pricing_button button {
  border-radius: 40px;
}
.pricing .cards_pricing {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pricing .cards_pricing div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}
.pricing .cards_pricing div div {
  height: 20%;
}
.pricing .cards_pricing div ul {
  height: 55%;
  list-style: none;
}
.pricing .cards_pricing div ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 10%;
}
.pricing .cards_pricing div ul li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.pricing .cards_pricing .card_purple {
  border: #9A9CA5 1px solid;
}
.pricing .cards_pricing .card_purple h5 {
  font-size: 24px;
  margin: 0;
}
.pricing .cards_pricing .card_purple h4 {
  color: #7772F1;
}
.pricing .cards_pricing .card_purple .price {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pricing .cards_pricing .card_purple .price h3 {
  color: #7772F1;
  font-size: 46px;
}
.pricing .cards_pricing .card_black {
  background-color: rgb(30, 33, 44);
  color: white;
}
.pricing .cards_pricing .card_black h4 {
  color: rgb(3, 206, 164);
}

.casestudies {
  margin-bottom: 15vh;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 245, 246);
  align-items: center;
}
.casestudies .testimonials_top {
  width: 70%;
}
.casestudies .testimonials_top h2 {
  font-size: 46px;
}
.casestudies .testimonials_top .button1 {
  background-color: rgba(120, 122, 128, 0);
  border: none;
}
.casestudies .testimonials_top .button1 img {
  width: 24px;
  height: 24px;
}
.casestudies .testimonials_top .button2 {
  width: 49px;
  height: 49px;
  background-color: #7772F1;
  border-radius: 40px;
  border: #7772F1;
}
.casestudies .testimonials_center {
  width: 70%;
  height: 55%;
}
.casestudies .testimonials_center .testimonials_1 {
  height: 90%;
  width: 27%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #b8b9c0;
}
.casestudies .testimonials_center .testimonials_2 {
  height: 90%;
  width: 27%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/homepage/test_card.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  color: white;
  box-shadow: 5px 5px 5px 5px #b8b9c0;
}
.casestudies .testimonials_center .testimonials_3 {
  height: 90%;
  width: 27%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #b8b9c0;
}
.casestudies .testimonials_center .feature {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.casestudies .testimonials_center .feature div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.casestudies .testimonials_center .feature h6 {
  font-size: 20px;
  margin: 0;
}
.casestudies .testimonials_center .feature p {
  font-size: 12px;
}
.casestudies .testimonials_center h6 {
  font-size: 14px;
}
.casestudies .testimonials_center p {
  font-size: 16px;
}
.casestudies .testimonials_bottom {
  width: 30%;
}
.casestudies div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.services {
  margin-bottom: 15vh;
  height: 85vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services h2 {
  font-size: 46px;
  margin: 0;
}
.services .button_services {
  width: 100%;
  height: 20%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.services .button_services li {
  width: 25%;
  height: 80%;
}
.services .button_services li .button_0 {
  width: 161px;
  height: 44px;
  background-color: rgba(255, 214, 219, 0);
  border: none;
  color: #9A9CA5;
}
.services .main_services {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services .main_services .services_text h4 {
  font-size: 28px;
  margin: 0;
}
.services .main_services .services_text ul {
  list-style: none;
  line-height: 160%;
}
.services .main_services .services_text ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.services .main_services .services_text ul li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.services .main_services .services_text div {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services .main_services .pic_services {
  width: 55%;
  height: 100%;
  background-image: url(/assets/homepage/bg-shape.png);
  background-repeat: repeat;
}
.services .main_services .pic_services img#likes {
  position: relative;
  top: 45%;
  left: 5%;
  z-index: 1;
}
.services .main_services .pic_services img#followers {
  position: relative;
  top: 2%;
  left: 70%;
  z-index: 1;
}
.services .main_services .pic_services img#youtube {
  position: relative;
  top: 65%;
  left: 50%;
  z-index: 1;
}
.services .main_services .pic_services img#like {
  position: relative;
  top: -13%;
  left: 50%;
  z-index: 1;
}
.services .main_services .pic_services img#dashboard {
  position: relative;
  top: -5%;
  width: 582px;
}

footer {
  background-color: rgb(30, 33, 44);
  width: 100%;
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .footer_top {
  margin-top: 3%;
  width: 80%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top ul {
  list-style: none;
  padding: 0;
}
footer .footer_top ul li {
  padding: 0;
}
footer .footer_top ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
footer .footer_top div h6 {
  text-transform: uppercase;
  line-height: 150%;
  color: rgb(255, 255, 255);
}
footer .footer_top div p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
footer .footer_top div .social {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top div .contacts {
  display: flex;
  flex-direction: column;
  border: 0;
}
footer .footer_top div .contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_top div .contacts li img {
  width: 16px;
  height: 16px;
}
footer .footer_top .div_about {
  width: 25%;
}
footer .footer_top .div_about form input {
  background-color: rgba(255, 255, 255, 0.2);
}
footer .create_line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .footer_center {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center ul {
  padding: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
footer .footer_center div {
  width: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center div button {
  width: 24px;
  height: 24px;
  background-color: #7772F1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
footer .footer_bottom {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
footer .footer_bottom div {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_bottom div p {
  font-size: 12px;
}
footer .footer_bottom div img {
  width: 18px;
  height: 18px;
}

a {
  color: black;
  text-decoration: none;
}

.button_purple {
  width: 161px;
  height: 44px;
  background-color: #7772F1;
  color: white;
  border: none;
}

.button_with_border {
  width: 161px;
  height: 44px;
  background-color: rgba(255, 214, 219, 0);
  color: white;
  border: 1px solid #7772F1;
  color: #7772F1;
}

@font-face {
  font-family: Lato;
  src: url(/Lato/Lato-Black.ttf);
}/*# sourceMappingURL=search.css.map */