body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

header {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/services/background.png);
  background-size: cover;
  color: white;
}
header .top_header {
  width: 70%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav img {
  width: 15%;
}
header .top_header nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .top_header nav ul li a {
  color: white;
}
header .main_header {
  text-align: center;
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .main_header .home p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
header .main_header .main_bottom {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
header .main_header .phone {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
header .main_header .phone p {
  font-size: 14px;
  margin: 0;
}

.SMM, .SEO, .Research, .PR, .PTM {
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.SMM .text h3, .SEO .text h3, .Research .text h3, .PR .text h3, .PTM .text h3 {
  font-size: 32px;
}
.SMM .text p, .SEO .text p, .Research .text p, .PR .text p, .PTM .text p {
  color: rgb(120, 122, 128);
}
.SMM .text div, .SEO .text div, .Research .text div, .PR .text div, .PTM .text div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SMM div, .SEO div, .Research div, .PR div, .PTM div {
  width: 45%;
}

.CTA {
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/homepage/background_TCA.png);
  background-size: cover;
  width: 100%;
  height: 60vh;
  color: white;
}
.CTA .main_CTA {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.CTA .main_CTA .request_CTA {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CTA .main_CTA .request_CTA .forms {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CTA .main_CTA .request_CTA .forms form {
  width: 45%;
  height: 100%;
}
.CTA .main_CTA .request_CTA .forms form input {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
}
.CTA .main_CTA .request_CTA .last_form {
  width: 100%;
  height: 10%;
}
.CTA .main_CTA .request_CTA .last_form input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.CTA .main_CTA .request_CTA h3 {
  font-size: 46px;
  margin: 0;
}
.CTA .main_CTA .request_CTA .bottom_request {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CTA .main_CTA .request_CTA .bottom_request form {
  width: 50%;
}

.markets {
  text-align: center;
  width: 80%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.markets h2 {
  font-size: 46px;
}
.markets ul {
  list-style: none;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.markets ul li {
  width: 20%;
}
.markets ul li h6 {
  font-size: 20px;
  margin: 0;
}
.markets ul li p {
  font-size: 16px;
  color: rgb(120, 122, 128);
}
.markets ul li img {
  width: 48px;
  height: 48px;
}

.casestudies {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 245, 246);
  align-items: center;
}
.casestudies .testimonials_top {
  width: 70%;
}
.casestudies .testimonials_top h2 {
  font-size: 46px;
}
.casestudies .testimonials_top .button1 {
  background-color: rgba(120, 122, 128, 0);
  border: none;
}
.casestudies .testimonials_top .button1 img {
  width: 24px;
  height: 24px;
}
.casestudies .testimonials_top .button2 {
  width: 49px;
  height: 49px;
  background-color: #7772F1;
  border-radius: 40px;
  border: #7772F1;
}
.casestudies .testimonials_center {
  width: 70%;
  height: 55%;
}
.casestudies .testimonials_center .testimonials_1 {
  height: 100%;
  width: 30%;
  background-color: white;
}
.casestudies .testimonials_center .testimonials_2 {
  height: 100%;
  width: 30%;
  background-image: url(/assets/homepage/test_card.png);
  background-size: cover;
}
.casestudies .testimonials_center .testimonials_3 {
  height: 100%;
  width: 30%;
  background-color: white;
}
.casestudies .testimonials_bottom {
  width: 40%;
}
.casestudies div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clients {
  width: 90%;
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.clients ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.clients ul li {
  width: 10%;
}
.clients ul li img {
  width: 80%;
}

.blog {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 70%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog .post {
  width: 30%;
  height: 100%;
}
.blog .post img {
  width: 100%;
}

footer {
  background-color: rgb(30, 33, 44);
  width: 100%;
  height: 45vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .footer_top {
  margin-top: 3%;
  width: 80%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top ul {
  list-style: none;
  padding: 0;
}
footer .footer_top ul li {
  padding: 0;
}
footer .footer_top ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
footer .footer_top div h6 {
  text-transform: uppercase;
  line-height: 150%;
  color: rgb(255, 255, 255);
}
footer .footer_top div p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
footer .footer_top div .social {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_top div .contacts {
  display: flex;
  flex-direction: column;
  border: 0;
}
footer .footer_top div .contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_top div .contacts li img {
  width: 16px;
  height: 16px;
}
footer .footer_top .div_about {
  width: 25%;
}
footer .footer_top .div_about form input {
  background-color: rgba(255, 255, 255, 0.2);
}
footer .create_line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .footer_center {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center ul {
  padding: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
footer .footer_center div {
  width: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center div button {
  width: 24px;
  height: 24px;
  background-color: #7772F1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
footer .footer_bottom {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
footer .footer_bottom div {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_bottom div p {
  font-size: 12px;
}
footer .footer_bottom div img {
  width: 18px;
  height: 18px;
}

a {
  color: black;
  text-decoration: none;
}

.button_purple {
  width: 161px;
  height: 44px;
  background-color: #7772F1;
  color: white;
  border: none;
}

.button_with_border {
  width: 161px;
  height: 44px;
  background-color: rgba(255, 214, 219, 0);
  color: white;
  border: 1px solid #7772F1;
  color: #7772F1;
}

@font-face {
  font-family: Lato;
  src: url(/Lato/Lato-Black.ttf);
}/*# sourceMappingURL=services.css.map */